body {
  max-width: 1465px;
  width: 100%;
}
#nav-menu {
  width: 100%;
  min-height: 50px;
  display: flex;
  background: #fffafa;
}
#nav-menu ul li {
  flex-flow: row nowrap;
  align-self: center;
  width: 100px;
  float: left;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#nav-menu ul li a {
  text-decoration: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 50px;
  /* identical to box height */

  color: #000000;
}
#nav-menu ul li:hover a {
  color: #00b8f1;
  text-decoration: underline;
}
.main-banner {
  position: relative;
  width: 99%;
  height: 357px;
  margin: 0.5%;
}
.main-banner button {
  width: 30px;
  height: 50px;
  background-color: #e7e7e7;
  color: black;
  border: none;
  opacity: 0.2;
}
.main-banner button:hover {
  animation: mymove infinite;
  animation-duration: 1s;
}
@keyframes mymove {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.btn-next {
  position: absolute;
  right: 0;
  top: 45%;
}
.btn-prev {
  position: absolute;
  left: 0;
  top: 45%;
}
.main-banner img,
.sub-banner1 img,
.sub-banner2 img {
  width: 100%;
  height: 100%;
}
.sub-banner1 {
  width: 64.5%;
  height: 227px;
  float: left;
  margin: 0.5%;
}
.sub-banner2 {
  width: 33.5%;
  height: 227px;
  float: right;
  margin: 0.5%;
}
.trend {
  margin: auto;
  clear: both;
  width: 98%;
  height: 330px;
  background-color: #f8f8f8;
  padding: 10px;
}
.products {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}
.product {
  box-shadow: inset 0 0 0 0 #ff5c66;
  transition: ease-in 0.3s;
  outline: none;
}
.product:hover {
  box-shadow: inset 200px 0 0 rgb(0, 184, 241);
  color: white;
}
.trend .product img {
  width: 120px;
  height: 180px;
}

.trend .product p {
  width: 120px;
  margin-top: 10px;
}
.trend .product a {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.discount,
.foryou {
  margin: 10px auto;
  width: 98%;
  height: 466px;
  background-color: #f8f8f8;
  padding: 10px;
}
.discount .products,
.foryou .products {
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: space-around;
  height: 300px;
}
.discount .product img,
.foryou .products img {
  width: 200px;
  height: 270px;
}
.discount a,
.foryou a {
  text-align: center;
  text-decoration: none;
  color: #000;
}
.discount .row,
.foryou .row {
  text-align: center;
  margin-top: 10px;
  padding: 0 20px;
}
.discount .row p,
.foryou .row p {
  float: left;
  line-height: 30px;
}
.discount svg,
.foryou svg {
  border-radius: 5px;
  float: right;
}
.discount .price-discount,
.foryou .price-discount {
  color: red;
}
.discount .price-base,
.foryou .price-base {
  clear: both;
  width: 100%;
  text-decoration: line-through;
}
.more {
  position: absolute;
  bottom: 50px;
  left: 47%;
}
.more a {
  color: #007397;
  font-style: italic;
  font-weight: 400;
  font-family: "Roboto";
}
.more-block {
  display: none;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.05em;
  }
  p {
    font-size: 0.7rem;
  }
  #nav-menu {
    display: none;
  }
  .main-banner {
    margin: 0;
    width: 100%;
    height: 200px;
  }
  .sub-banner1,
  .sub-banner2 {
    clear: both;
    width: 100%;
    margin: 0;
  }
  .trend {
    width: 100%;
    margin: 10px 0;
    min-height: 550px;
    display: block;
  }
  .trend .products {
    flex-flow: row wrap;
  }
  .trend .product {
    margin-bottom: 10px;
  }
  /* .discount {
    width: 100%;
    min-height: 1000px;
  }
  .discount .products {
    flex-flow:row wrap;
  }
  .discount .product{
    width: 45%;
  } */
  .discount,
  .foryou {
    width: 100%;
    height: 1000px;
  }

  .discount .products,
  .foryou .products {
    display: grid;
    grid-template-columns: auto auto;
    height: 900px;
  }
  .more-block {
    display: block;
  }
  svg {
    width: 34%;
  }
  svg g rect {
    width: 100%;
  }
  svg g {
    text-align: center;
  }
  text {
    font-size: 0.7em;
  }
}
